pipelines/pl_master_olist_daily.json
{
    "name": "pl_master_olist_daily",
    "properties": {
        "activities": [
            {
                "name": "pl_orchestrate_medallion_ep",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "pl_orchestrate_medallion",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Failure-alert",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "pl_orchestrate_medallion_ep",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "url": "[LOGIN_APP_LINK]",
                    "body": {
                        "value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"@{activity('Sub_Olist_Orchestrator').Error.Message}\",\n    \"RunId\": \"@{pipeline().RunId}\"\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2026-03-13T16:04:42Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}