pipelines/pl_transform_silver_standardized.json
{
    "name": "pl_transform_silver_standardized",
    "properties": {
        "activities": [
            {
                "name": "Transformation_loop_silver_dimensions",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@createArray('olist_customers_dataset', 'olist_products_dataset', 'olist_sellers_dataset')",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "silver_dimensions_scd2",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:20:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 180,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/[YOUR_EMAIL]/Olist_E-commerce-(Azure_Databricks)/silver/silver_dimensions_scd2",
                                "baseParameters": {
                                    "table_name": {
                                        "value": "@item()",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "Databricks_Olist",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Transformation_loop_silver_facts",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Transformation_loop_silver_dimensions",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@createArray('olist_orders_dataset', 'olist_order_items_dataset', 'olist_order_payments_dataset', 'olist_order_reviews_dataset', 'olist_geolocation_dataset', 'product_category_name_translation')",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "silver_facts_upsert",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:20:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 180,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Users/[YOUR_EMAIL]/Olist_E-commerce-(Azure_Databricks)/silver/silver_facts_upsert",
                                "baseParameters": {
                                    "table_name": {
                                        "value": "@item()",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "Databricks_Olist",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2026-04-03T19:30:16Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}